<div class="w-full flex flex-row justify-between mb-16">
    <p-button icon="pi pi-arrow-left" variant="text" size="large" (click)="locationBack()"/>

    <div>
        <p-menu #menu [model]="menuItems" [popup]="true" />
        <p-button (click)="menu.toggle($event)" variant="text" severity="secondary" icon="pi pi-ellipsis-v"/>
    </div>
</div>

<div class="mb-6 flex flex-col justify-between w-full">
    @if (blogPostCategoryBySlug && blogPostCategoryBySlug.data) {
        <div class="flex flex-col">

            <!-- <div class="overflow-hidden rounded-lg h-64 bg-neutral-800 flex items-center w-full justify-center" (click)="showTagBgDialog()">
                <img class="cursor-pointer transition-transform duration-300 transform hover:opacity-75" src="{{environmentApiImageUrl}}/{{blogPostCategoryBySlug.data.image}}" alt="tag-bg">
            </div> -->

            <div class="flex flex-row items-center mt-3 flex-wrap">
                <a routerLink="/user/{{blogPostCategoryBySlug.data.username}}/posts" class="cursor-pointer hover:underline"><small class="flex flex-row items-center mr-3"><i class="pi pi-user mr-2"></i>{{blogPostCategoryBySlug.data.userNickname}}</small></a>
                <small class="flex flex-row items-center"><i class="pi pi-calendar-clock mr-2"></i>{{blogPostCategoryBySlug.data.createdAt | date:'MM/dd/yyyy h:mm a z'}}</small>
            </div>

            <h3 class="font-poppins"><i class="pi pi-tag mr-2" style="font-size: 1.2rem;"></i>{{blogPostCategoryBySlug.data.title}}</h3>

            <p class="font-lato mb-3 mt-3 text-lg">{{blogPostCategoryBySlug.data.description}}</p>
        </div>


        <div class="flex flex-row items-center justify-end">
            <p-button icon="pi pi-plus" label="Follow" severity="secondary" variant="text" pTooltip="Follow tag"/>
        </div> 
    }
</div>

<p-divider type="dashed"/>

@if (postsIsLoading) {
    <div class="w-full flex"><i class="pi pi-spin pi-spinner"></i></div>
}

@if (!postsIsLoading && blogList && !blogList.data) {
    <p class="font-lato text-xl mb-12 mt-12">No posts found</p>
}

<div class="w-full flex flex-col items-center">
    @if (blogList.data && blogList.data.length>0) {
        @for (blog of blogList.data; track $index) {
            
            <div class="mb-12 mt-12 rounded-lg w-full">
    
                <div class="flex flex-row items-center mb-3 flex-wrap">
                    <a class="cursor-pointer hover:underline flex flex-row items-center font-bold mr-2" routerLink="/tag/{{blog.categorySlug}}"><i class="pi pi-tag mr-2"></i> <span class="mr-2 font-medium">in</span>{{blog.categoryTitle}}</a>
                    <a class="cursor-pointer hover:underline flex flex-row items-center text-sm" routerLink="/user/{{blog.username}}/posts"><span class="mr-2 text-sm">by</span>{{blog.userNickname}} <i class="pi pi-user ml-2"></i></a>
                </div>
    
                <div class="flex flex-row mb-6">
                    <span class="flex flex-row items-center text-sm mr-2"><i class="pi pi-hourglass mr-2"></i>{{blog.readingTime}} min read</span>
                    <span class="flex flex-row items-center text-sm"><i class="pi pi-calendar-clock mr-2"></i>{{blog.createdAt | date:'MM/dd/yyyy h:mm a z'}}</span>
                </div>
    
                <div class="flex flex-row">
                    <div class="flex flex-col w-full">
                        <a class="w-full cursor-pointer" routerLink="/tag/{{blog.categorySlug}}/post/{{blog.slug}}"><h4 class="font-poppins">{{blog.title}}</h4></a>
    
                        <p class="font-lato mb-3 mt-3 text-lg">{{blog.intro}}</p> 
                    </div>
                
                    @if (blog.image && blog.image.length>0) {
                        <div class="w-2/5 overflow-hidden rounded-lg ml-2 h-36">
                            <img class="hover:opacity-75 h-full w-full object-cover" src="{{environmentApiImageUrl}}/{{blog.image}}" routerLink="/tag/{{blog.categorySlug}}/post/{{blog.slug}}" alt="content-image">
                        </div>
                    }
                </div>
        
                <div class="flex flex-row items-center justify-between mt-6">
                    <div class="flex flex-row items-center mr-6 cursor-pointer" routerLink="/tag/{{blog.categorySlug}}/post/{{blog.slug}}">
                        @if(blog.voteCount>0){
                            <!-- <p-button severity="secondary" variant="text" pTooltip="Up vote" routerLink="goToPostDetail(blog.categorySlug, blog.slug)">
                                <ng-container>
                                    <i class="pi pi-angle-up"></i>
                                    +{{blog.voteCount}} votes
                                </ng-container>
                            </p-button>  -->
    
                            <span class="flex flex-row items-center font-bold">
                                <i class="pi pi-thumbs-up mr-2"></i>
                                +{{blog.voteCount}} vote@if(blog.voteCount>1){s}
                            </span>
                        }
                        @if(blog.voteCount<0){
                            <span class="flex flex-row items-center font-bold">
                                <i class="pi pi-thumbs-down mr-2"></i>
                                {{blog.voteCount}} vote@if(blog.voteCount<-1){s}
                            </span>
                        }
                    </div>
                    <div class="flex flex-row items-center">
                        <p-button icon="pi pi-bookmark" severity="secondary" variant="text" pTooltip="Save to library"/>
                    </div>
                </div>
            </div>
            <p-divider type="dashed"/>
        }
    }
    @if(loadMorePostButtonVisible && blogList.data && blogList.data.length>0){
        <p-button loading="{{postsIsLoading}}" severity="secondary" variant="text" (click)="getAllBlogPostsWithScroll()" label="Load more"/>
    }
    @if(!loadMorePostButtonVisible && blogList.data && blogList.data.length>0){
        <span class="font-lato text-xl">No more posts</span>
    }
</div>

<p-dialog resizable="false" draggable="false" modal="true" [(visible)]="tagBgDialogVisible" (hide)="hideTagBgDialog()">
    @if (blogPostCategoryBySlug && blogPostCategoryBySlug.data && blogPostCategoryBySlug.data.image && blogPostCategoryBySlug.data.image.length>0) {
        <img src="{{environmentApiImageUrl}}/{{blogPostCategoryBySlug.data.image}}" alt="tag-bg">
    }
</p-dialog>