<div class="layout-topbar border-b-2 border-dashed border-[--surface-border]">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            
            <div class="flex flex-row items-start justify-start">
                
                <span class="text-3xl font-anta text-[--p-button-primary-background]" style="font-family: 'Anta', sans-serif;font-weight: bold;">c01splace</span>
                <small class="text-sm text-orange-500">Beta</small>
            </div>
        </a>
    </div>
            
            
    <div class="layout-topbar-actions">
        
        <div class="layout-config-menu flex items-center">

            <!-- @if (loadingUserDataButton) {
                <p-button [loading]="loadingUserDataButton" severity="secondary"  label="Loading user data..." variant="text"></p-button>
            }

            @if (loggedUserData.data === undefined && loadingUserDataButton === false) {
                <p-button label="Sign In" variant="text" icon="pi pi-sign-in" (click)="goToSignIn()"/>
            }

            @if(signedInDataMenuIitems.length > 0) {
                <div class="flex justify-center">
                    <p-menu #menu [model]="signedInDataMenuIitems" [popup]="true" />
                    <p-button (click)="showAuthControlDialog()" severity="secondary" variant="text" icon="pi pi-user" label="{{loggedUserData.data.userNickname}}"/>
                </div>
            } -->

            <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
                <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
            </button>

            <!-- <p-button icon="pi pi-pinterest" severity="secondary"/> -->

        </div>


        <!-- @if (signedInDataMenuIitems.length > 0) {
            <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
                <i class="pi pi-ellipsis-v"></i>
            </button>

            <div class="layout-topbar-menu hidden lg:block">
                <div class="layout-topbar-menu-content">
                    <!-- <button type="button" class="layout-topbar-action">
                        <i class="pi pi-calendar"></i>
                        <span>Calendar</span>
                    </button>
                    <button type="button" class="layout-topbar-action">
                        <i class="pi pi-inbox"></i>
                        <span>Messages</span>
                    </button> -->
                    <!-- <button type="button" class="layout-topbar-action">
                        <i class="pi pi-user"></i>
                        <span>Profile</span>
                    </button> 

                    <p-button severity="secondary" label="Write" icon="pi pi-pen-to-square" iconPos="left" variant="text"></p-button>

                </div>
            </div>
        } -->

        <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
            <i class="pi pi-user"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <!-- <button type="button" class="layout-topbar-action">
                    <i class="pi pi-calendar"></i>
                    <span>Calendar</span>
                </button>
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-inbox"></i>
                    <span>Messages</span>
                </button> -->
                <!-- <button type="button" class="layout-topbar-action">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </button> -->

                @if (loadingUserDataButton) {
                    <p-button [loading]="loadingUserDataButton" severity="secondary"  label="Loading user data..." variant="text"></p-button>
                }

                @if (loggedUserData.data === undefined && loadingUserDataButton === false) {
                    <p-button label="Sign In" variant="text" icon="pi pi-sign-in" styleClass="w-full" (click)="goToSignIn()"/>
                }

                @if(signedInDataMenuIitems.length > 0) {
                    <!-- <p-menu #menu [model]="signedInDataMenuIitems" [popup]="true" /> -->
                    <p-button (click)="showAuthControlDialog()" severity="secondary" variant="text" icon="pi pi-user" label="{{loggedUserData.data.userNickname}}"/>
                }

            </div>
        </div>
    </div>
</div>



<div class="layout-top-nav" [ngClass]="{ 'hidden-topbar': topbarIsHidden }">
    <!-- <div class="border-r-2 border-dashed border-[--surface-border] pr-6 mr-6 overflow-hidden whitespace-nowrap">
        <p class="overflow-hidden whitespace-nowrap" pTooltip="hsdjghwjgh wjhgjdw hgjhwdjghwjdlhg jwdhgjldh" tooltipPosition="bottom">hsdjghwjgh wjhgjdw hgjhwdjghwjdlhg jwdhgjldh</p>
    </div>-->
            
            
    <div class="layout-topbar-actions w-full">
        <div class="flex items-center justify-between w-full">
            <span class="font-thin font-anta ml-3 opacity-75">
                Developing by learning.
            </span>
            <div class="layout-config-menu flex items-center">
            
                <p-button icon="pi pi-search" severity="secondary" styleClass="w-full" variant="text" size="large" routerLink="/search"/>
    
                @if(userRolesData.length > 0 && userRolesData.includes('user')){
                    <p-button icon="pi pi-pen-to-square" severity="secondary" styleClass="overflow-hidden" variant="text" size="large" label="Write" routerLink="/create/post"/>
                }
                
                
                <!-- @if (loadingUserDataButton) {
                    <p-button [loading]="loadingUserDataButton" severity="secondary"  label="Loading user data..." variant="text"></p-button>
                } -->
    
                <!-- @if (loggedUserData.data === undefined && loadingUserDataButton === false) {
                    <p-button label="Sign In" variant="text" icon="pi pi-sign-in" (click)="goToSignIn()"/>
                } -->
    
                <!-- @if(signedInDataMenuIitems.length > 0) {
                    <div class="flex justify-center">
                        <!-- <p-menu #menu [model]="signedInDataMenuIitems" [popup]="true" /> 
                        <p-button (click)="showAuthControlDialog()" severity="secondary" variant="text" icon="pi pi-user" label="{{loggedUserData.data.userNickname}}"/>
                    </div>
                } -->
    
                <!-- <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
                    <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
                </button>-->
            </div>
        </div>
        
        
    </div>
</div>

@if(loggedUserData.data){
    <p-dialog [style]="{ width: '25rem' }" [(visible)]="authControlDialogVisible" modal="true" draggable="false" resizable="false" header="@{{loggedUserData.data.username}}" class="font-poppins">
        <div class="flex flex-col">
            @if(userRolesData.length > 0 && userRolesData.includes('user')){
                <p-button label="My Libraries" styleClass="w-full mb-5" severity="secondary" icon="pi pi-book" routerLink="/user/library/list" (click)="hideAuthControlDialog()"></p-button>
                <p-button label="Account" styleClass="w-full mb-5" severity="secondary" icon="pi pi-cog" routerLink="/user/profile" (click)="hideAuthControlDialog()"></p-button>
            }
            
            <p-button label="Sign Out" styleClass="w-full mb-5" severity="secondary" icon="pi pi-sign-out" (click)="signOut()"></p-button>
        </div>
    </p-dialog>
}

<style>
    .hidden-topbar{
        top: -4rem;
        transition: 0.3s;
    }
</style>