<div class="w-full flex flex-row justify-between items-center mb-16">
    <p-button icon="pi pi-arrow-left" variant="text" size="large" (click)="locationBack()"/>
</div>

<h3>Create new tag</h3>

<form [formGroup]="createNewTagFormData" (ngSubmit)="createTag()">
    <p-card>
        <div class="w-full">
            <div>
                <label for="title" class="text-md mb-2">Title</label>
                <input pInputText type="text" id="title" placeholder="title..." class="w-full mb-6" formControlName="title"/>
            </div>

            <div>
                <label for="meta" class="text-md mb-2">Meta</label>
                <input pInputText type="text" id="meta" placeholder="meta..." class="w-full mb-6" formControlName="meta"/>
            </div>

            <div>
                <label for="description" class="text-md mb-2">Description</label>
                <input pInputText type="text" id="description" placeholder="description..." class="w-full mb-6" formControlName="description"/>
            </div>

            <p-button label="Create" (click)="createTag()" styleClass="w-full mt-6" loading="{{createTagButtonDisabled}}" icon="pi pi-check" severity="success"/>
        </div>
    </p-card>
</form>