@if (userPasswordRecoveryResponseDialogVisible === false) {
    <form [formGroup]="userPasswordRecoveryFormData" (submit)="usernameControlForUserPasswordRecovery()">
        <!--(ngSubmit)="recoverPassword()"-->
            <div class="surface-ground flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
                <div class="flex flex-col items-center justify-center">
                    <!-- <h2>c01splace</h2> -->
                    <div style="border-radius:56px; padding:0.3rem;">
                        <div class="w-full bg-black-alpha-10 py-8 px-5 sm:px-8" style="border-radius:53px">
                            <div class="text-center mb-5">
                                <span class="text-4xl"><i class="mb-2 pi pi-user" style="font-size: 2rem;"></i></span>
                                <div class="text-900 text-3xl font-medium mb-3">Recover your password</div>
                                @if (this.userPasswordRecoveryFormData.invalid && (usernameChecked === undefined || usernameChecked === false)) {
                                    <span class="text-600 font-medium">Enter your username to continue</span>
                                }
                                @if (userPasswordRecoveryFormData.get('username')!.valid && usernameChecked && userPasswordRecoveryFormData.invalid && (recoveryKeyChecked === undefined || recoveryKeyChecked === false)) {
                                    <span class="text-600 font-medium">Enter key to continue</span>
                                }
                                @if (userPasswordRecoveryFormData.get('key')!.valid && recoveryKeyChecked) {
                                    <span class="text-600 font-medium">Enter new password to continue</span>
                                }
                            </div>
        
                            <div class="flex flex-col">
                                @if (usernameChecked && !recoveryKeyChecked) {
                                    <label for="userRecoverkey" class="block text-900 font-medium text-xl mb-2">Recovery Key</label>
                                    <p-password formControlName="key" id="userRecoverkey"  placeholder="Recovery key..." [toggleMask]="true" styleClass="h-12 w-full mb-2" inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
                                }
        
        
                                @if(!usernameChecked && !recoveryKeyChecked) {
                                    <div class="flex flex-col">
                                        <label for="username" class="block text-900 text-xl font-medium mb-2">Username</label>
                                        <input formControlName="username" id="username" type="text" placeholder="Username..." pInputText class="h-12 w-full md:w-30rem mb-2">
                                        <!-- @if (userPasswordRecoveryFormData.get('username').valid && usernameChecked === false) {
                                            <small class="text-red-400 text-base">User not found.</small>
                                        } -->
                                        @if (userPasswordRecoveryFormData.get('username')!.touched && userPasswordRecoveryFormData.get('username')!.invalid) {
                                            <small class="text-red-400 text-base">Enter a valid username!</small>
                                        }
                                    </div>
                                }
                                
                                
        
                                @if(usernameChecked && recoveryKeyChecked){
                                    <div class="flex flex-col mb-5">
                                        <label for="userNewPassword" class="block text-900 text-xl font-medium mb-2">New password</label>
                                        <p-password id="userNewPassword" placeholder="New password..." inputStyleClass="w-full p-3 md:w-30rem" formControlName="userNewPassword" styleClass="h-12 w-full mb-2"></p-password>
                                        
                                        @if (userPasswordRecoveryFormData.get('userNewPassword')!.touched && userPasswordRecoveryFormData.get('userNewPassword')!.invalid) {
                                            <small class="text-red-400 text-base">Enter password !</small>
                                        }
                                    </div>
        
                                    <div class="flex flex-col mb-5">
                                        <label for="userNewPasswordAgain" class="block text-900 text-xl font-medium mb-2">Password again</label>
                                        <p-password id="userNewPasswordAgain" placeholder="New password again..." styleClass="h-12 w-full mb-2" inputStyleClass="w-full p-3 md:w-30rem" formControlName="userNewPasswordAgain"></p-password>
                                        
                                        @if (userPasswordRecoveryFormData.get('userNewPasswordAgain')!.touched && userPasswordRecoveryFormData.get('userNewPasswordAgain')!.invalid) {
                                            <small class="text-red-400 text-base">Enter password again!</small>
                                        }
                                    </div>
                                }
        
                                
        
                                @if (usernameChecked && userPasswordRecoveryFormData.get('key')!.valid && recoveryKeyChecked === false) {
                                    <small class="text-red-400 text-base">Recovery key is wrong!</small>
                                }
        
                                @if(passwordsDoNotMatch){
                                    <small class="text-red-400 text-base">Passwords do not match!</small>
                                }

                                

                                @if (userPasswordRecoveryFormData.get('key')!.touched && userPasswordRecoveryFormData.get('key')!.invalid) {
                                    <small class="text-red-400 text-base">Enter a valid key!</small>
                                }

                                

                                

                                
        
                                <div class="flex items-center justify-between mb-5 gap-5">
                                    <!--error-here-->
                                </div>
                                <button [loading]="usernameNextButtonSpamControl" pButton pRipple label="NEXT" class="w-full p-3 text-xl" icon="pi pi-arrow-right"></button>
                                <div class="w-full flex items-center mt-3 justify-content-end">
                                    <span>Did you remember? </span>
                                    <button pButton class="p-button-text" icon="pi pi-sign-in" (click)="goToSignInPage()" label="Back To Sign In"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
}


@if (userPasswordRecoveryResponse.length > 0) {
    <p-dialog header="Password succesfully changed." [(visible)]="userPasswordRecoveryResponseDialogVisible" [modal]="true" [draggable]="false" [resizable]="false" [closable]="false">
        <div class="w-full">
            <div class="w-full flex flex-col justify-between h-8rem">

                <span>Your recovery code has changed.</span>

                <span>Please do not lose the recovery key. </span>

                <span>Your Key: {{userPasswordRecoveryResponse}}</span>

                <span class="w-full flex flex-row items-center"> You can <button pButton label="Sign In" class="p-button-text" icon="pi pi-sign-in" (click)="goToSignInPage()"></button> now.</span>
            </div>
        </div>
    </p-dialog>
}