@for (blog of blogList; track $index) {
    <div class="card">
        <a class="cursor-pointer" (click)="goToBlogDetail()"><h2 class="font-poppins">{{blog.title}}</h2></a>

        @if (blog.image.length>0) {
            <div class="w-full overflow-hidden rounded-lg">
                <img class="cursor-pointer transition-transform duration-300 transform hover:scale-105" src="{{blog.image}}" (click)="goToBlogDetail()" alt="content-image">
            </div>
        }

        <p class="font-lato text-xl mb-12 mt-12">{{blog.summary}}</p> 
        <div class="w-full flex flex-row justify-between items-center">
            <p-button label="Read More" icon="pi pi-arrow-right" iconPos="right" variant="text" size="large" (click)="goToBlogDetail()"/>

            <div class="flex flex-row">
                <span class="select-none text-inherit">
                    <i class="pi pi-user mr-2"></i>{{blog.writer}}
                    <i class="pi pi-clock mr-2 ml-6"></i>{{blog.readingTime}}
                    <p-button label="Save for later" variant="text" severity="secondary" icon="pi pi-plus" [styleClass]="'ml-6'"/>
                </span>
            </div>
        </div>
    </div>
}