<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<div class="flex flex-col justify-center items-center w-full h-screen">
    <div class="flex flex-col gap-4">
        <h1 class="font-bold text-center " style="font-family: 'Press Start 2P', sans-serif;font-weight: bold;">Welcome to c01s.place.</h1>
    </div>
    <button pButton routerLink="/" size="large" class="w-40 h-16" style="font-family: 'Press Start 2P', sans-serif;font-weight: bold;" severity="secondary">
        <div class="flex items-center">
            <i class="pi pi-play" style="font-size: 1.5rem;"></i> START
        </div>
    </button>
</div>