<div class="surface-ground flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <!-- <img src="assets/demo/images/error/logo-error.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0"> -->
        <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-col items-center" style="border-radius:53px">
            <div class="flex flex-col items-center">
                <h1 class="text-900 font-bold text-5xl mb-2">404</h1>
                <h1 class="text-900 font-bold text-5xl mb-3">Not Found</h1>
                <span class="text-600 mb-5">Requested resource is not available.</span>
                <!-- <img src="assets/demo/images/error/asset-error.svg" alt="Error" class="mb-5" width="80%"> -->
                <p-button icon="pi pi-arrow-left" label="Go to Dashboard" class="p-button-text" (click)="goToDashboard()"/>
            </div>
        </div>
    </div>
</div>